@font-face {
  font-family: "iconfont"; /* Project id 2539365 */
  src: url('iconfont.woff2?t=1620652543451') format('woff2'),
       url('iconfont.woff?t=1620652543451') format('woff'),
       url('iconfont.ttf?t=1620652543451') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:red;
  /* border: 1em red ; */
}

.icon-xingxing:before {
  content: "\e60c";
}

